@using WebApplication6.Areas.Identity.Data

@model IEnumerable<TimeTrackers>
@{
    ViewData["Title"] = "User's Time";
}


<main id="main" class="main">
    <div class="pagetitle">
      <h1>@ViewData["Title"]</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a asp-controller="Admin" asp-action="Index">Home</a></li>
          <li class="breadcrumb-item"><a asp-controller="Admin" asp-action="GetUser"></a>Users</li>
          <li class="breadcrumb-item active">GetUserTime</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Datatables</h5>
              
              <!-- Table with stripped rows -->
              <table class="table datatable">
                <thead>
                  <tr>
                    <th scope="col"> @Html.DisplayNameFor(model => model.CurrentDate)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.TimeIn)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.TimeOut)</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model) {
                  <tr>
                    <td>@Html.DisplayFor(modelItem => item.CurrentDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.TimeIn)</td>
                    <td>@Html.DisplayFor(modelItem => item.TimeOut)</td>
                    <td><a asp-action="Edit" asp-route-id="@item.Id">Edit</a></td>
                    <td><a asp-controller="TimeTracker" asp-action="Delete" asp-route-id="@item.Id">Delete</a></td>
                  </tr>
                    }
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

        </div>
      </div>
    </section>
<div>
    <a asp-action="Index">Back to List</a>
</div>
  </main><!-- End #main -->