@using WebApplication6.Areas.Identity.Data

@model IEnumerable<TimeTrackers>
@{
    ViewData["Title"] = "GetUserTimeMonth";
}


<main id="main" class="main">
    <div class="pagetitle">
      <h1>@ViewData["Tittle"]</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a asp-controller="Home" asp-action="">Home</a></li>
          <li class="breadcrumb-item"><a asp-controller="Admin" asp-action="GetUser">Users</a></li>
          <li class="breadcrumb-item active">Profile</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
  
    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">
          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
              <i class="bi bi-twitter rounded-circle" ></i>  

                 <h2></h2>
                 <h3></h3>  
              
               
              <div class="social-links mt-2">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

        </div>
        
    <section class="section dashboard">
                <div class="row">

                    <!-- Left side columns -->
                    <div class="col-lg-8">
                        <div class="row">
                            <!-- Recent Sales -->
                            <div class="col-12">
                                <div class="card recent-sales overflow-auto">

                                    <div class="filter">
                                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                            <li class="dropdown-header text-start">
                                                <h6>Filter</h6>
                                            </li>

                                            <li><a class="dropdown-item" asp-action="GetUserTime" asp-route-id="7e524d52-4b6d-471a-9896-9f29ee1cfc1d">All</a></li>
                                            <li><a class="dropdown-item" asp-action="GetUserTimeMonth" asp-route-id="7e524d52-4b6d-471a-9896-9f29ee1cfc1d">This Month</a></li>
                                        </ul>
                                    </div>
                                    <div class="card-body pt-3">
                                        <div class="tab-content pt-2">

                                            <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                                <h5 class="card-title">Time Tracker<span> | Month</span></h5>
                                                <table class="table datatable">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col"> @Html.DisplayNameFor(model => model.CurrentDate)</th>
                                                            <th scope="col">@Html.DisplayNameFor(model => model.TimeIn)</th>
                                                            <th scope="col">@Html.DisplayNameFor(model => model.TimeOut)</th>
                                                            <th scope="col"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in Model)
                                                        {
                                                            <tr>
                                                                <td>@Html.DisplayFor(modelItem => item.CurrentDate)</td>
                                                                <td>@Html.DisplayFor(modelItem => item.TimeIn)</td>
                                                                <td>@Html.DisplayFor(modelItem => item.TimeOut)</td>
                                                                <td><a asp-action="Edit" asp-route-id="@item.Id">Edit</a></td>
                                                                <td><a asp-controller="TimeTracker" asp-action="Delete" asp-route-id="@item.Id">Delete</a></td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div><!-- End Recent Sales -->

                                </div>
                            </div><!-- End Left side columns -->
                        </div>
            </section>
        </div>
        </div>
    </section>
</main><!-- End #main -->

<div>
    <a asp-action="Index">Back to List</a>
</div>


