@using Microsoft.AspNetCore.Identity
@using WebApplication6.Areas.Identity.Data

@model IEnumerable<TimeTrackers>
@{
    ViewData["Title"] = "TimetrackerMonth";
}

@inject SignInManager<TimeSystemUser> SignInManager
@inject UserManager<TimeSystemUser> UserManager


@if (SignInManager.IsSignedIn(User))
{

    <main id="main" class="main">
        <div class="pagetitle">
            <h1>@ViewData["Tittle"]</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Admin" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item">Time Tracker</li>
                </ol>
            </nav>
        </div>
        <!-- End Page Title -->

    <section class="section dashboard">
            <div class="row">

                <!-- Left side columns -->
            <div class="col-lg-8">
                    <div class="row">
                        <!-- Recent Sales -->
                    <div class="col-12">
                            <div class="card recent-sales overflow-auto">

                                <div class="filter">
                                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                        <li class="dropdown-header text-start">
                                            <h6>Filter</h6>
                                        </li>

                                        <li><a class="dropdown-item" asp-action="Timetracker" asp-route-id=@UserManager.GetUserId(User)>All</a></li>
                                        <li><a class="dropdown-item" asp-action="TimetrackerMonth" asp-route-id=@UserManager.GetUserId(User)>This Month</a></li>
                                    </ul>
                                </div>
                                <div class="card-body pt-3">
                                    <div class="tab-content pt-2">

                                        <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                            <h5 class="card-title">Time Tracker<span> | Month</span></h5>
                                            <table class="table datatable">
                                                <thead>
                                                    <tr>
                                                        <th scope="col"> @Html.DisplayNameFor(model => model.CurrentDate)</th>
                                                        <th scope="col">@Html.DisplayNameFor(model => model.TimeIn)</th>
                                                        <th scope="col">@Html.DisplayNameFor(model => model.TimeOut)</th>
                                                        <th scope="col"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model)
                                                    {
                                                        <tr>
                                                            <td>@Html.DisplayFor(modelItem => item.CurrentDate)</td>
                                                            <td>@Html.DisplayFor(modelItem => item.TimeIn)</td>
                                                            <td>@Html.DisplayFor(modelItem => item.TimeOut)</td>
                                                            <td><a asp-action="Edit" asp-route-id="@item.Id">Edit</a></td>
                                                            <td><a asp-controller="TimeTracker" asp-action="Delete" asp-route-id="@item.Id">Delete</a></td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div><!-- End Recent Sales -->

                        </div>
                        </div><!-- End Left side columns -->
                </div>
        </section>
    </main>

    <!-- End #main -->
}


